@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #111114;
  --dark-gray: #18181d;
  --gray: #444746;
  --purple: #5356fb;
  --winner: #53ed50;
  --looser: #ff7870;
  --intelligence: #04a902;
  --strength: #FF4136;
  --speed: #FFDC00;
  --durability: #000000;
  --power: #B10DC9;
  --combat: #9f9f9f;
}

body {
  color: var(--white);
  background-color: var(--dark-gray);
}
